---
layout: base.njk
permalink: /articles/
eleventyComputed:
  title: "{{ pages.articles.nav_title or 'Articles' }}"
  description: "{{ pages.articles.seo }}"
---
<div class="page-header">
  <h1>{{ pages.articles.heading or "Articles" }}</h1>
  <p>{{ pages.articles.intro }}</p>
</div>

{% include "filter.njk" %}
{% set entries = articles %}
{% include "entry-list.njk" %}
