---
layout: base.njk
permalink: /commentary/
eleventyComputed:
  title: "{{ pages.commentary.nav_title or 'Commentary' }}"
  description: "{{ pages.commentary.seo }}"
---
<div class="page-header">
  <h1>{{ pages.commentary.heading or "Commentary" }}</h1>
  <p>{{ pages.commentary.intro }}</p>
</div>

{% include "filter.njk" %}
{% set entries = commentary %}
{% include "entry-list.njk" %}
