---
layout: base.njk
permalink: /projects/
eleventyComputed:
  title: "{{ pages.projects.nav_title or 'Projects' }}"
  description: "{{ pages.projects.seo }}"
---
<div class="page-header">
  <h1>{{ pages.projects.heading or "Projects" }}</h1>
  <p>{{ pages.projects.intro }}</p>
</div>

{% set entries = projects %}
{% set showYears = false %}
{% include "entry-list.njk" %}
